@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100svh;
    background-color: #070724;
    background-image: url(/assets/background-stars.svg);
}

h1, h2{
    font-family: 'Antonio', sans-serif;
}

h3,h4{
    font-family: 'League Spartan', sans-serif;
}
p{
    font-family: 'League Spartan', sans-serif;
}

.mobile__nav{
    background-image:url(/assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.menutoggle{
    display: none;
    position: relative;
    background-color: #070724;
    overflow: hidden;
    top: 40px;
    width: 100vw;
    left: 60px;

    transition: 1s;

    box-shadow: 0 0 30px white;

}
.menutoggle a{
    padding: 10px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
}
.menutoggle div{
    background-color: #419EBB;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.mobile__nav-item{
    width: 40%;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: space-between;
}

#mercury{
    background: #DEF4FC;
}
#venus{
    background: #F7CC7F;
}
#earth{
    background: #545BFE;
}
#mars{
    background:#FF6A45 ;
}
#jupiter{
    background: #ECAD7A;
}
#saturn{
    background: #FCCB6B;
}
#uranus{
    background: #65F0D5;
}
#neptune{
    background: #497EFA;
}
header{
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.head-title{
    color: white;
}


.nav-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    border-top:1px solid #38384F ;
    border-bottom:1px solid #38384F ;
}

.nav-top__item{
    font-family: "League Spartan", sans-serif;
    list-style: none;
    color: #38384F;
    display: block;
}
.nav-top--deskandpad{
    display: none;
}
.nav-deskandpad{
    display: none;
}


.planet{
    height: 500px;
    display: flex;
flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.planet__wrapp{
    height: 250px;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}


.planet__info{
    text-align: center;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planet__title {
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
}

.planet__desc {
    padding-top: 10px;
    color: rgb(180, 175, 175);
    font-size: 18px;
}


.planet__source {
    font-family: "Leauge Spartan", sans-serif;
    text-align: center;
    color: #38384F;
}
.planet__source a{
    font-weight: bold;
    color: #838391;
    text-decoration: underline;
}

.info-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}

.info-wrapper li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #D8D8D8;
    height: 50px;
    color: #D8D8D8;
}

#rotation,#revolution,#radius,#temp{
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-size: 22px;
    
}

.planet__desc--structure, .planet__desc--surface{
    display: none;
}
.planet__geology,.planet__structure{
    display: none;
}

@media (min-width:600px) {

    main{
        height: 100svh;
    }

    header{
        display: flex;
        justify-content: center;
        width: 100%;

        font-weight: lighter;
        font-size: 28px;
    }

    .mobile__nav{
        display: none;
    }
    .nav-top{
        display: none;
    }

    .nav-top--deskandpad{
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        display: flex;
        color: #FFFFFF;

        border-bottom: 1px solid #979797;
    }
    .desk__wrapper{
        display: flex;
        align-items: center;
        height: 30svh;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-deskandpad{
        padding-top: 40px;
        height: 180px;
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .planet{
        height: 700px;
    }


    .planet__info{
        text-align: center;
        height: 150px;
        padding-left: 20px;
        padding-right: 20px;

        width: 65%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .planet__wrapp{
        height: 40svh;
    }
    .nav__item a{
        font-family: 'League Spartan', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #D8D8D8;
    }
    .planet__source{
        height: 10svh;
    }

    
    .nav-top__item{
        height: 40px;
        border: 1px solid white;
        width: 100%;
        color: white;

        display: flex;
        padding-left: 10px;
        align-items: center;
    }
    .nav-top__item span{
        padding-right: 20px;
        color: #838391;
    }


    .info-wrapper{
        padding: 20px;
        display: flex;
        height: 110px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .info-wrapper li{
        height: 100%;
        width: 20vw;
        display: inline-block;
    }

    .planet__title{
            font-size: 48px;
    }
    .desc-text {
        font-size: 15px;
        color: #d8d8d87c;
    }
}