.top-active{
    color: white;
    line-height: 50px;

    height: 100%;

    border-bottom: 4px solid #6D2ED5;
}

.planet__image{
    width: 175px;
    height: 175px;
}

@media (min-width: 600px){

    .planet__image{
        width: 190px;
        height: 190px;
    }

    .top-active{
        background-color: #6D2ED5;
        border: 1px solid white;
        height: 40px;
    }
    .top-active span{
        color: rgb(170, 169, 169);
    }

}