.top-active{
    color: white;
    line-height: 50px;

    height: 100%;

    border-bottom: 4px solid #D83A34;
}

.planet__image{
    width: 220px;
    height: 220px;
}

@media (min-width: 600px){

    .planet__image{
        width: 580px;
        height: 580px;
    }

    .top-active{
        background-color: #D83A34;
        border: 1px solid white;
        height: 40px;
    }
    .top-active span{
        color: rgb(170, 169, 169);
    }

}