.top-active{
    color: white;
    line-height: 50px;

    height: 100%;

    border-bottom: 4px solid #CD5120;
}

.planet__image{
    width: 250px;
    height: 250px;
}
@media (min-width: 600px){

    .planet__image{
        width: 190px;
        height: 190px;
    }

    .top-active{
        background-color: #CD5120;
        border: 1px solid white;
        height: 40px;
    }
    .top-active span{
        color: rgb(170, 169, 169);
    }

}