.top-active{
    color: white;
    line-height: 50px;

    height: 100%;

    border-bottom: 4px solid #EDA249;
}

.planet__image{
    width: 150px;
    height: 150px;
}
@media (min-width: 600px){

    .planet__image{
        width: 190px;
        height: 190px;
    }

    .top-active{
        background-color: #EDA249;
        border: 1px solid white;
        height: 40px;
    }
    .top-active span{
        color: rgb(170, 169, 169);
    }

}

@media (min-width: 1100px){

    .planet__image{
        width: 400px;
        height: 400px;
    }

    .nav-active{
        border-bottom: 2px solid #419EBB;
        color: white;
    }
}